# lombok.{해당어노테이션}.flagUsage = [warning or error]

# Do use slf4j
lombok.log.log4j.flagUsage=ERROR
lombok.log.log4j2.flagUsage=ERROR
lombok.log.xslf4j.flagUsage=ERROR

# Do not use following silly annotations
lombok.data.flagUsage= ERROR
lombok.allArgsConstructor.flagUsage = ERROR
lombok.setter.flagUsage = WARNING
lombok.toString.flagUsage = WARNING